<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="../img/logo.ico">
    <script src="../js/validacion.js"></script>
    <title>Cursa bellvitge 2021</title>
</head>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<body>

    <div class="topnav" id="myTopnav">

        <div class="icono">
            <img src="../img/logotipo.png">
        </div>

        <a style="margin-left: 5%;" href="../index.html" class="active">Inici</a>
        <a href="classificacions.html">Classificacions</a>
        <a href="inscripcion.html">Inscripcions</a>
        <a href="noticies.html">Noticies</a>
        <a href="galeria.html">Galeria</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>


        <div class="idioma">
            <form action="" method="POST">
                <select name="idioma" id="idioma">
                    <option value="esp">Español</option>
                    <option value="ing">Ingles</option>
                </select>
                <input type="submit" value="submit">
            </form>
        </div>

    </div>

    <div class="entrada2">

        <img class="portada" src="../img/Portada2.jpg">

        <div class="form_inscrip">
            <h2 style="opacity: 0.2;">Omple las tevas dades!</h2>
            <form action="../model/inscrivir.php" method="POST" onsubmit="return validacionForm()">
                <input style="margin-right: 5px; width: 45%;" type="text" id="dni" class="validar" name="dni" placeholder="DNI...">

                <input style="width: 45%;" type="text" id="nom" class="validar" name="nom" placeholder="Nom..."><br>

                <input style="margin-right: 5px; width: 45%;" type="text" id="cognom1" class="validar" name="cognom1" placeholder="Primer Cognom...">

                <input style="width: 45%;" type="text" id="cognom2" class="validar" name="cognom2" placeholder="Segon Cognom..."><br>

                <input type="date" id="data_naix" class="validar" name="data_naix" placeholder="Fecha Nacimento..."><br>

                <select name="sexe" id="sexe" class="validar" disabled>
                    <option disabled selected value="">Sexo...</option>
                    <option value="Masculino">Hombre</option>
                    <option value="Femenino">Mujer</option>
                </select><br>

                <select name="invalidez" id="invalidez" class="validar" disabled>
                    <option disabled selected value="">Tiene alguna discapacidad muscular?...</option>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select><br>
                <label for="categoria">Categoria Asignada</label><br>
                <label for="categoria" id="mensaje_cat"></label>
                <input type="hidden" name="categoria" id="categoria" class="validar"><br>

                <input type="submit" id="error" value="Incrivirse">
            </form>

            <div id="mensaje" class="mensaje"></div>

        </div>


    </div>

    <footer>
        <div class="auto_presentacion">
            <h1>Cursa Bellvitge</h1>
            <h1>2021</h1>
        </div>
        <div class="footer_nav">
            <ul>
                <li>
                    <h1>LINKS RAPIDOS</h1>
                </li>
                <li><a href="../index.html">Inici</a></li>
                <li><a href="classificacions.html">Classificacions</a></li>
                <li><a href="inscripcion.html">Inscripcions</a></li>
                <li><a href="noticies.html">Noticies</a></li>
                <li><a href="galeria.html">Galeria</a></li>
            </ul>
        </div>
        <div class="contactos">
            <ul>
                <li>
                    <h1>CONTACTOS</h1>
                </li>
                <li>25 de Febrero 2021</li>
                <li>Desde: Avinguda de la Mare de Déu de Bellvitge, Hospitalet de Llobregat, Barcelona, Cataluña</li>
                <li>Circuito 98%</li>
            </ul>
        </div>
        <div class="pie_final">Copyright 2006 Cursa Ciclista Bellvitge. All right reserved</div>
    </footer>
</body>

</html>